# Logistic Regression

In this exercise, we'll continue working with the titanic dataset and building logistic regression models. Throughout this exercise, be sure you are training, evaluation, and comparing models on the train and validate datasets. The test dataset should only be used for your final model.

For all of the models you create, choose a threshold that optimizes for accuracy.

Do your work for these exercises in either a notebook or a python script named model within your classification-exercises repository. Add, commit, and push your work.

In [18]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns

from acquire import get_titanic_data
from prepare import prep_titanic    

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [21]:
df_titanic = prep_titanic()
df_titanic

(     passenger_id  survived  pclass     sex        age  sibsp  parch  \
 583           583         0       1    male  36.000000      0      0
 337           337         1       1  female  41.000000      0      0
 50             50         0       3    male   7.000000      4      1
 218           218         1       1  female  32.000000      0      0
 31             31         1       1  female  29.916875      1      0
 ..            ...       ...     ...     ...        ...    ...    ...
 313           313         0       3    male  28.000000      0      0
 636           636         0       3    male  32.000000      0      0
 222           222         0       3    male  51.000000      0      0
 485           485         0       3  female  29.916875      3      1
 553           553         1       3    male  22.000000      0      0

          fare embarked  class  embark_town  alone  Q  S
 583   40.1250        C  First    Cherbourg      1  0  0
 337  134.5000        C  First    Cherbourg      1  0  0
 50    39.6875        S  Third  Southampton      0  0  1
 218   76.2917        C  First    Cherbourg      1  0  0
 31   146.5208        C  First    Cherbourg      0  0  0
 ..        ...      ...    ...          ...    ... .. ..
 313    7.8958        S  Third  Southampton      1  0  1
 636    7.9250        S  Third  Southampton      1  0  1
 222    8.0500        S  Third  Southampton      1  0  1
 485   25.4667        S  Third  Southampton      0  0  1
 553    7.2250        C  Third    Cherbourg      1  0  0

 [497 rows x 14 columns],
      passenger_id  survived  pclass     sex        age  sibsp  parch  \
 610           610         0       3  female  39.000000      1      5
 424           424         0       3    male  18.000000      1      1
 568           568         0       3    male  29.916875      0      0
 701           701         1       1    male  35.000000      0      0
 101           101         0       3    male  29.916875      0      0
 ..            ...       ...     ...     ...        ...    ...    ...
 176           176         0       3    male  29.916875      3      1
 372           372         0       3    male  19.000000      0      0
 730           730         1       1  female  29.000000      0      0
 216           216         1       3  female  27.000000      0      0
 26             26         0       3    male  29.916875      0      0

          fare embarked  class  embark_town  alone  Q  S
 610   31.2750        S  Third  Southampton      0  0  1
 424   20.2125        S  Third  Southampton      0  0  1
 568    7.2292        C  Third    Cherbourg      1  0  0
 701   26.2875        S  First  Southampton      1  0  1
 101    7.8958        S  Third  Southampton      1  0  1
 ..        ...      ...    ...          ...    ... .. ..
 176   25.4667        S  Third  Southampton      0  0  1
 372    8.0500        S  Third  Southampton      1  0  1
 730  211.3375        S  First  Southampton      1  0  1
 216    7.9250        S  Third  Southampton      1  0  1
 26     7.2250        C  Third    Cherbourg      1  0  0

 [214 rows x 14 columns],
      passenger_id  survived  pclass     sex        age  sibsp  parch  \
 561           561         0       3    male  40.000000      0      0
 328           328         1       3  female  31.000000      1      1
 643           643         1       3    male  29.916875      0      0
 498           498         0       1  female  25.000000      1      2
 875           875         1       3  female  15.000000      0      0
 ..            ...       ...     ...     ...        ...    ...    ...
 339           339         0       1    male  45.000000      0      0
 841           841         0       2    male  16.000000      0      0
 442           442         0       3    male  25.000000      1      0
 815           815         0       1    male  29.916875      0      0
 809           809         1       1  female  33.000000      1      0

          fare embarked   class  embark_town  alone  Q  S
 561    7.8958        S   Third  Southampton      1  0  1
 328   20.5250        S   Third  Southampton      0  0  1
 643   56.4958        S   Third  Southampton      1  0  1
 498  151.5500        S   First  Southampton      0  0  1
 875    7.2250        C   Third    Cherbourg      1  0  0
 ..        ...      ...     ...          ...    ... .. ..
 339   35.5000        S   First  Southampton      1  0  1
 841   10.5000        S  Second  Southampton      1  0  1
 442    7.7750        S   Third  Southampton      0  0  1
 815    0.0000        S   First  Southampton      1  0  1
 809   53.1000        S   First  Southampton      0  0  1

 [178 rows x 14 columns])

### Problem 1

Start by defining your baseline model.

### Problem 2

Create another model that includes age in addition to fare and pclass. Does this model perform better than your baseline?

### Problem 3

Include sex in your model as well. Note that you'll need to encode or create a dummy variable of this feature before including it in a model.

### Problem 4

Try out other combinations of features and models.

### Problem 5

Use you best 3 models to predict and evaluate on your validate sample.

### Problem 6

Choose you best model from the validation performation, and evaluate it on the test dataset. How do the performance metrics compare to validate? to train?