## Problem 1

Create a new file named model_evaluation.py or model_evaluation.ipynb for these exercises.

## Problem 2

Given the following confusion matrix, evaluate (by hand) the model's performance.


|               | actual cat | actual dog |
|:------------  |-----------:|-----------:|
| predicted cat |         34 |          7 |
| predicted dog |         13 |         46 |


- In the context of this problem, what is a false positive?
- In the context of this problem, what is a false negative?
- How would you describe this model?

False positive: 7

- Model predicted a cat, however it was actually a dog

False negative: 13 
- Model predicted a dog, however it was actually a cat

In [1]:
# Evaluation Metrics:   

# cat is positive predictor 

true_positives = 34
false_positives = 7
false_negatives = 13
true_negatives = 46

accuracy = (true_positives + true_negatives) / (true_positives + true_negatives + false_positives + false_negatives)
recall = true_positives / (true_positives + false_negatives)
precision = true_positives / (true_positives + false_positives)
specificity = true_negatives / (true_negatives + false_positives)

print("Accuracy:", round(accuracy,3) * 100, "%")
print("Recall:", round(recall,3) * 100, "%")
print("Precision:", round(precision,2) * 100, "%")
print("Specificity:", round(specificity,3) * 100, "%")

Accuracy: 80.0 %
Recall: 72.3 %
Precision: 83.0 %
Specificity: 86.8 %

## Problem 3

You are working as a data scientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

Use the predictions dataset and pandas to help answer the following questions:

In [2]:
import pandas as pd
cody = pd.read_csv('c3.csv')
cody.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [3]:
cody.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

In [4]:
cody['baseline'] = cody.actual.value_counts().index[0]
cody.head(2)

      actual     model1  model2     model3   baseline
0  No Defect  No Defect  Defect  No Defect  No Defect
1  No Defect  No Defect  Defect     Defect  No Defect

- An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [5]:
# Model 1
positive = "Defect"

subset = cody[cody.actual == positive]
model_recall = (subset.actual == subset.model1).mean()
baseline_recall = (subset.baseline == subset.actual).mean()

print("Model 1")
print(f"Model recall: {model_recall:.2%}")
print(f"Baseline recall: {baseline_recall:.2%}")

Model 1
Model recall: 50.00%
Baseline recall: 0.00%

In [6]:
# Model 2
positive = "Defect"

subset = cody[cody.actual == positive]
model_recall = (subset.actual == subset.model2).mean()
baseline_recall = (subset.baseline == subset.actual).mean()

print("Model 2")
print(f"Model recall: {model_recall:.2%}")
print(f"Baseline recall: {baseline_recall:.2%}")

Model 2
Model recall: 56.25%
Baseline recall: 0.00%

In [7]:
# Model 3
positive = "Defect"

subset = cody[cody.actual == positive]
model_recall = (subset.actual == subset.model3).mean()
baseline_recall = (subset.baseline == subset.actual).mean()

print("Model 3")
print(f"Model recall: {model_recall:.2%}")
print(f"Baseline recall: {baseline_recall:.2%}")

Model 3
Model recall: 81.25%
Baseline recall: 0.00%

- Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [8]:
positive = "Defect"

In [9]:
# Model 1
subset = cody[cody.model1 == positive]
model_precision = (subset.actual == subset.model1).mean()

subset = cody[cody.baseline == positive]
baseline_precision = (subset.actual == subset.baseline).mean()

print("Model 1")
print(f"Model precision: {model_precision:.2%}")
print(f"Baseline precision: {baseline_precision:.2%}")

Model 1
Model precision: 80.00%
Baseline precision: nan%

In [10]:
# Model 2
subset = cody[cody.model2 == positive]
model_precision = (subset.actual == subset.model2).mean()
subset = cody[cody.baseline == positive]
baseline_precision = (subset.actual == subset.baseline).mean()

print("Model 2")
print(f"Model precision: {model_precision:.2%}")
print(f"Baseline precision: {baseline_precision:.2%}")

Model 2
Model precision: 10.00%
Baseline precision: nan%

In [11]:
# Model 3
subset = cody[cody.model3 == positive]
model_precision = (subset.actual == subset.model3).mean()
subset = cody[cody.baseline == positive]
baseline_precision = (subset.actual == subset.baseline).mean()

print("Model 3")
print(f"Model precision: {model_precision:.2%}")
print(f"Baseline precision: {baseline_precision:.2%}")

Model 3
Model precision: 13.13%
Baseline precision: nan%

## Problem 4

You are working as a data scientist for Gives You Paws â„¢, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

Several models have already been developed with the data, and you can find their results here.

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

In [12]:
paws = pd.read_csv('gives_you_paws.csv')
paws.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [13]:
paws.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [14]:
paws["baseline"] = paws.actual.value_counts().index[0]
paws.head()

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      dog
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
4    cat    cat    cat    dog    dog      dog

a. In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

In [15]:
baseline = pd.crosstab(paws.baseline, paws.actual)

In [16]:
baseline

actual     cat   dog
baseline
dog       1746  3254

In [17]:
model_1 = pd.crosstab(paws.model1, paws.actual) 
model_2 = pd.crosstab(paws.model2, paws.actual) 
model_3 = pd.crosstab(paws.model3, paws.actual)  
model_4 = pd.crosstab(paws.model4, paws.actual)

In [18]:
model_1

actual   cat   dog
model1
cat     1423   640
dog      323  2614

In [19]:
model_2

actual   cat   dog
model2
cat     1555  1657
dog      191  1597

In [20]:
model_3

actual  cat   dog
model3
cat     893  1599
dog     853  1655

In [21]:
model_4

actual   cat   dog
model4
cat      603   144
dog     1143  3110

In [22]:
models = paws.loc[:, "model1":"baseline"].columns.tolist()
models

['model1', 'model2', 'model3', 'model4', 'baseline']

In [23]:
output = []
for model in models:
    
    output.append({
        "model": model,
        "accuracy": (paws[model] == paws.actual).mean(),
    })


metrics = pd.DataFrame(output)
metrics = metrics.sort_values(by="accuracy", ascending=False, ignore_index=True)
metrics

      model  accuracy
0    model1    0.8074
1    model4    0.7426
2  baseline    0.6508
3    model2    0.6304
4    model3    0.5096

In [24]:
from sklearn.metrics import classification_report

In [25]:
target_names = paws.actual.unique()

In [26]:
x = classification_report(paws.actual, paws.model1, target_names=target_names, output_dict=True)
pd.DataFrame(x)

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.689772     0.890024    0.8074     0.789898      0.820096
recall        0.815006     0.803319    0.8074     0.809162      0.807400
f1-score      0.747178     0.844452    0.8074     0.795815      0.810484
support    1746.000000  3254.000000    0.8074  5000.000000   5000.000000

In [27]:
print("Model 1")
pd.DataFrame(classification_report(paws.actual, paws.model1, target_names=target_names, output_dict=True))

Model 1

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.689772     0.890024    0.8074     0.789898      0.820096
recall        0.815006     0.803319    0.8074     0.809162      0.807400
f1-score      0.747178     0.844452    0.8074     0.795815      0.810484
support    1746.000000  3254.000000    0.8074  5000.000000   5000.000000

In [28]:
print("Model 2")
print(classification_report(paws.actual, paws.model2, target_names=target_names))

Model 2
              precision    recall  f1-score   support

         cat       0.48      0.89      0.63      1746
         dog       0.89      0.49      0.63      3254

    accuracy                           0.63      5000
   macro avg       0.69      0.69      0.63      5000
weighted avg       0.75      0.63      0.63      5000

In [29]:
print("Model 3")
print(classification_report(paws.actual, paws.model3, target_names=target_names))

Model 3
              precision    recall  f1-score   support

         cat       0.36      0.51      0.42      1746
         dog       0.66      0.51      0.57      3254

    accuracy                           0.51      5000
   macro avg       0.51      0.51      0.50      5000
weighted avg       0.55      0.51      0.52      5000

In [30]:
print("Model 4")
print(classification_report(paws.actual, paws.model4, target_names=target_names))

Model 4
              precision    recall  f1-score   support

         cat       0.81      0.35      0.48      1746
         dog       0.73      0.96      0.83      3254

    accuracy                           0.74      5000
   macro avg       0.77      0.65      0.66      5000
weighted avg       0.76      0.74      0.71      5000

b. Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? For Phase II?

- Phase I : Model 4 because best recall
- Phase II: Model 1 becase best precision

c. Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend for Phase I? For Phase II

- Phase I: Model 2 because best recall
- Phase II: Model 4 because best precision

## Problem 5

Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.

- sklearn.metrics.accuracy_score
- sklearn.metrics.precision_score
- sklearn.metrics.recall_score
- sklearn.metrics.classification_report