## Monday Morning Warmup

Take the word EASY: Its first three letters — E, A and S — are the fifth, first, and nineteenth letters, respectively, in the alphabet. If you add 5, 1, and 19, you get 25, which is the value of the alphabetical position of Y, the last letter of EASY.

Can you think of a common five-letter word that works in the opposite way — in which the value of the alphabetical positions of its last four letters add up to the value of the alphabetical position of its first letter?

### 1. Think about how to break this problem down into steps and write out a plan for your solution.

- Assign each letter a number from 1 - 26

- Need the letter number value sum for a word

- Do this for all the words in the dict list

### 2. There is a file on your mac that contains a list of words -- /usr/share/dict/words.

### 3. Open this file with either python or pandas and implement your solution.

In [7]:
def get_letter_value(letter):
    return'abcdefghijklmnopqrstuvwxyz'.index(letter.lower()) + 1
    
get_letter_value('z')

26

In [9]:
def get_word_value(letters):
    total = 0
    for letter in letters:
        total += get_letter_value(letter)
    return total

get_word_value('abc')

6

In [17]:
def does_word_match(word):
    if len(word) != 5:
        return False
    first_letter = word[0]
    last_four = word[1:]
    return get_word_value(last_four) == get_letter_value(first_letter)
does_word_match('abcde')

False

In [14]:
with open('/usr/share/dict/words') as f:
    words = f.read().strip().split('\n')

In [15]:
for word in words:
    if does_word_match(word):
        print(word)

raffe
Sadie
sifac
table
Uchee
vakia
Vicia
wanga
whack
Xicak
yeara
zebra

### Or another solution...

In [21]:
import pandas as pd

In [26]:
df = pd.read_csv('/usr/share/dict/words', header=None, names=['word'])
df['word_length'] = df.word.apply(str).apply(len)
df = df[df.word_length == 5]
df['first_letter'] = df.word.str[0]
df['last_four'] = df.word.str[1:]
df['first_val'] = df.first_letter.apply(get_letter_value)
df['last_four_val'] = df.last_four.apply(get_word_value)
df[df.first_val == df.last_four_val]

         word  word_length first_letter last_four  first_val  last_four_val
162735  raffe            5            r      affe         18             18
172406  Sadie            5            S      adie         19             19
181168  sifac            5            s      ifac         19             19
197206  table            5            t      able         20             20
210149  Uchee            5            U      chee         21             21
226709  vakia            5            v      akia         22             22
228545  Vicia            5            V      icia         22             22
230352  wanga            5            w      anga         23             23
231506  whack            5            w      hack         23             23
234120  Xicak            5            X      icak         24             24
234512  yeara            5            y      eara         25             25
235088  zebra            5            z      ebra         26             26